/*.card-list {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  gap: 2rem;
}*/

/*.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 4px 2px 3px rgba(117, 129, 147, 0.569);
  background-color: rgb(19, 22, 26);
  border: 1px solid rgb(70, 70, 70);
}*/

/*.card-header h3 {
  text-align: center;
  color: whitesmoke;
}*/
