/*.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0px;
  background-color: rgba(25, 37, 45, 0.707);
  border-top: 2px solid slategray;
}*/

/*.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}*/

/*.email {
  color: white;
  font-size: 1.5rem;
}

.email:hover {
  color: rgb(78, 156, 117);
  transition: 200ms;
  font-size: 3rem;
}*/

/*.icon-linkedin {
  font-size: 1.5rem;
  color: white;
}

.icon-linkedin:hover {
  color: rgb(0, 119, 181);
  transition: 200ms;
  font-size: 3rem;
}*/

/*.icon-github {
  font-size: 1.5rem;
  color: white;
}

.icon-github:hover {
  color: rgb(110, 84, 148);
  transition: 200ms;
  font-size: 3rem;
}*/
