/*.App {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}*/

/*.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  margin-right: 20rem;
}*/
